[Desktop Entry]
Name=KDominate
Name[ca]=KDominate
Name[ca@valencia]=KDominate
Name[es]=KDominate
Name[ka]=KDominate
Name[nl]=KDominate
Name[pt_BR]=KDominate
Name[sl]=KDominate
Name[tr]=K Hâkimiyet
Name[uk]=KDominate
Exec=kdominate -qwindowtitle %c
Icon=kdominate
Type=Application
X-DocPath=kdominate/index.html
GenericName=Board Domination Game
GenericName[ca]=Joc de taula de dominació
GenericName[ca@valencia]=Joc de taula de dominació
GenericName[es]=Juego de dominio de tablero
GenericName[ka]=თამაში დაფაზე დომინაციის შესახებ
GenericName[nl]=Bordspel Dominatie
GenericName[pt_BR]=Jogo de Dominação de Tabuleiro
GenericName[sl]=Igra dominacije na plošči
GenericName[tr]=Hâkimiyet Masa Oyunu
GenericName[uk]=Гра у панування на дошці
Comment=Board Domination Game
Comment[ca]=Joc de taula de dominació
Comment[ca@valencia]=Joc de taula de dominació
Comment[es]=Juego de dominio de tablero
Comment[ka]=თამაში დაფაზე დომინაციის შესახებ
Comment[nl]=Bordspel Dominatie
Comment[pt_BR]=Jogo de Dominação de Tabuleiro
Comment[sl]=Igra dominacije na plošči
Comment[tr]=Hâkimiyet masa oyunu
Comment[uk]=Гра у панування на дошці
StartupNotify=true
Categories=Qt;KDE;Game;StrategyGame;
